<%= link_to "Edit Photo", image_main_path(params[:id]), remote: true, class: 'medium button alert radius' %>
      <a href="/main/<%= params[:id] %>/edit" data-reveal-id="inventory" data-reveal-ajax="true" data-remote="true" class="medium button alert radius">
       Inventory
      </a>