<%= define_grid(@listitems) do |g|
	g.blank_slate  do
    	"<h3><i>There are no records...</i></h3>"
  	end


	g.column name: 'Code', attribute: 'code', detach_with_id: :code_filter
	
	g.column name: 'Item', attribute: 'itemname', detach_with_id: :item_filter do |i|
		if i.idCategory == '1' 
			link_to raw('<i class="fa fa-motorcyle"></i>' + i.itemname), view_main_path(i.code), remote: true, data: { toggle: 'modal', target: "#viewitem" }
		else
			link_to raw('<i class="fa fa-motorcyle"></i>' + i.itemname), view_main_path(i.code), remote: true, data: { toggle: 'modal', target: "#viewitem" }
		end
	end
	

	g.column name: 'Qty', attribute: 'qtyEnd', model: 'Inventory', detach_with_id: :qty_filter do |c|
		c.inventory.qtyEnd
	end
	g.column name: 'Location', attribute: 'vin', detach_with_id: :vin_filter
end -%>