<%= raw @treeview %>
<div class="accordion">
    <div class="frame">
        <div class="heading">Frame heading</div>
        <div class="content">Frame content</div>
    </div>
    ...
    <div class="frame">
        <div class="heading">Frame heading</div>
        <div class="content">Frame content</div>
    </div>
</div>


