	<%= flash[:notice] %>
	<div class="showpanel">
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" id="inventory">
		<div class="modal-dialog">
			<div class="modal-content">
				<div id="viewinv">
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" id="viewitem">
		<div class="modal-dialog">
			<div class="modal-content">
				<div id="view">
				</div>
			</div>
		</div>
	</div>

