<div class="row">
	
	<div class="showpanel">
	
	</div>

	<div id="myModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="margin-top: -50px">
	
	</div>
   
	<div id="inventory" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" style="margin-top: -50px">
	
	</div>
	
  		
	</div>

</div>
