<!--% @readfile.each do |d| %-->

<!-- <p><%#=d %></p><br> -->
<!-- -------------------------------------------------------------------- -->
<!-- <br> -->

<!-- <%# end %> -->

<!--% @readfile.each do |d| %-->

<!-- <p><%#=d %></p><br> -->
-------------------------------------------------------------------- 
<!-- <br> -->

<!--% end %-->
