@font-face {
    font-family: 'OpenSans';
    src: asset-url('OpenSans-webfont.eot');
    src: asset-url('OpenSans-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

