<div class="fixed-search">
    <h4><%= @search2 %>dfdfdf</h4>
    <div class="col-xs-6 hidden-xs hidden-sm">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search fa-lg"></i></span>
            <input type="text" class="form-control" id="search" placeholder="Search here" aria-describedby="basic-addon2">
        </div>
    </div>
    <div class="col-xs-12 hidden-md hidden-lg">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search fa-lg"></i></span>
            <input type="text" class="form-control" id="search2" placeholder="Search here" aria-describedby="basic-addon2">
        </div>
    </div>
 </div>
