<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
     <span class="navbar-brand hidden-md hidden-lg">
      <label for="offcanvas" class="toggler">
        <i class="fa fa-bars fa-lg"></i>
      </label>
    </span>
    <span class="navbar-brand">
      <a style="color:#FFF">NORMINRING</a><a style="color:#C9302C">MOTORBIKES</a>
    </span>
  </div>
  <div class="collapse navbar-collapse" id="navcollapse">
    <ul class="nav nav-pills navbar-nav navbar-right">
      <li>
        <% if session[:acctname] %>
        <%= link_to raw('<span class="glyphicon glyphicon-user"></span> ' +session[:acctname].to_s),  authenticate_logout_path, style: 'color : #fff', data: { confirm: 'Are you sure do you want to logout?' } %>
        <% else %>
        <%= link_to raw('Sign Up <span class="glyphicon glyphicon-user"></span>'),  '#', style: 'color : #fff', data: { confirm: 'Sign up form on progress' } %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
</nav>